# Analyse de transport

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('Travel_titles_validations_in_Paris_and_suburbs.csv.xz', compression='xz')

In [22]:
df.head()

         DATE       STATION_NAME  ID_REFA_LDA TITLE_CATEGORY     NB_VALID
0  21/07/2019   LA TOUR MAUBOURG      71242.0         NAVIGO         1141
1  21/07/2019         PARMENTIER      71801.0    NOT DEFINED  Less than 5
2  21/07/2019         PARMENTIER      71801.0            TST           97
3  21/07/2019  PEREIRE-LEVALLOIS      71453.0            FGT           53
4  21/07/2019            PERNETY     412687.0          OTHER           36

In [23]:
df['DATE'] = pd.to_datetime(df['DATE'], format='%d/%m/%Y')
df['NB_VALID'] = df['NB_VALID'].replace('Less than 5', 5).astype(int)
df[["DATE", "STATION_NAME", "NB_VALID"]]

             DATE       STATION_NAME  NB_VALID
0      2019-07-21   LA TOUR MAUBOURG      1141
1      2019-07-21         PARMENTIER         5
2      2019-07-21         PARMENTIER        97
3      2019-07-21  PEREIRE-LEVALLOIS        53
4      2019-07-21            PERNETY        36
...           ...                ...       ...
883953 2019-09-04       MONTPARNASSE       282
883954 2019-09-04    MOUTON-DUVERNET      2805
883955 2019-09-04             NATION     14377
883956 2019-09-04          NATIONALE      4613
883957 2019-09-04            BEL-AIR      1019

[883958 rows x 3 columns]

In [24]:
df_fusionne = df.groupby(['DATE', 'STATION_NAME'], as_index=False)['NB_VALID'].sum()

In [25]:
# Dictionnaire complet basé sur votre liste
station_to_dept = {
    # --- PARIS (75) ---
    **{s: '75' for s in [
        'LA TOUR MAUBOURG', 'PARMENTIER', 'PEREIRE-LEVALLOIS', 'PERNETY', 'PICPUS', 'PIGALLE', 
        'PLACE DES FETES', "PLACE D'ITALIE", 'PLAISANCE', 'BERCY', 'PONT-MARIE (CITE DES ARTS)', 
        "PORTE D'AUTEUIL", 'PORTE DE BAGNOLET', 'PORTE DE CHAMPERRET', 'PORTE DE CHOISY', 
        'PORTE DE CLIGNANCOURT', 'PORTE DE LA CHAPELLE', 'PORTE DE LA VILLETTE', 'PORTE DE MONTREUIL', 
        'PORTE DE SAINT-CLOUD', 'RICHARD LENOIR', 'RIQUET', 'RUE DU BAC', 'SAINT-AUGUSTIN', 'BLANCHE', 
        'SAINT-FARGEAU', 'SAINT-MARCEL', 'SAINT-MICHEL', 'SAINT-PAUL (LE MARAIS)', 'SAINT-PHILIPPE-DU-ROULE', 
        'SAINT-PLACIDE', 'SAINT-SEBASTIEN FROISSART', 'SAINT-SULPICE', 'SEGUR', 'SENTIER', 'SEVRES-BABYLONE', 
        'SIMPLON', 'SOLFERINO', 'STRASBOURG-SAINT-DENIS', 'SULLY-MORLAND', 'TEMPLE', 'TERNES', 'TOLBIAC', 
        "TRINITE-D'ESTIENNE D'ORVES", 'TUILERIES', 'VANEAU', 'VAUGIRARD (ADOLPHE CHERIOU)', 'VAVIN', 
        'VICTOR HUGO', 'BONNE NOUVELLE', 'VILLIERS', 'VOLONTAIRES', 'VOLTAIRE (LEON BLUM)', 'BOUCICAUT', 
        'RUE DES BOULETS', 'JAVEL', 'AVENUE FOCH', 'BOULEVARD VICTOR', 'PORTE MAILLOT', 
        'BIBLIOTHEQUE FRANCOIS MITTERRAND', "GARE DE L'EST", 'GARE DU NORD', 'ROSA PARKS', 'GARE DE LYON', 
        'NATION', 'CHATELET-LES HALLES', 'SAINT-MICHEL NOTRE DAME', 'ALESIA', 'OLYMPIADES', 'BOURSE', 
        'BREGUET-SABIN', 'ALEXANDRE DUMAS', 'BROCHANT', 'BUTTES-CHAUMONT', 'BUZENVAL', 'CADET', 'CAMPO-FORMIO', 
        'CARDINAL-LEMOINE', 'CENSIER-DAUBENTON', 'ALMA-MARCEAU', 'CHAMPS-ELYSEES-CLEMENCEAU', 'CHARDON-LAGACHE', 
        'CHARLES DE GAULLE ETOILE', 'CHARLES MICHELS', "CHATEAU D'EAU", 'CHATEAU ROUGE', 'CHATELET', 
        "CHAUSSEE d'ANTIN (LA FAYETTE)", 'CHEMIN VERT', 'CHEVALERET', 'CITE', 'COLONEL FABIEN', 'COMMERCE', 
        'CONCORDE', 'ABBESSES', 'CONVENTION', 'CORENTIN CARIOU', 'ANVERS', 'CORVISART', 'COURCELLES', 
        'COURONNES', 'COUR SAINT-EMILION', 'CRIMEE', 'DANUBE', 'DAUMESNIL', 'DENFERT-ROCHEREAU', 'DUROC', 
        'ECOLE MILITAIRE', 'ARGENTINE', 'ARTS ET METIERS', 'ETIENNE-MARCEL', 'EUROPE', 'EXELMANS', 
        'FAIDHERBE-CHALIGNY', 'FALGUIERE', 'FELIX FAURE', 'FILLES DU CALVAIRE', 'FRANKLIN-D.ROOSEVELT', 
        'ASSEMBLEE NATIONALE', 'GAMBETTA', 'AUSTERLITZ', 'GEORGE V', 'GONCOURT (HOPITAL SAINT-LOUIS)', 
        'GUY MOQUET', 'HAVRE-CAUMARTIN', 'IENA', 'INVALIDES', 'JACQUES BONSERGENT', 'JASMIN', 'JOURDAIN', 
        'JULES JOFFRIN', 'JUSSIEU', 'KLEBER', 'LA CHAPELLE', 'LA FOURCHE', 'LAMARCK-CAULAINCOURT', 
        'LA MOTTE-PICQUET-GRENELLE', 'LA MUETTE', 'LAUMIERE', 'AVENUE EMILE ZOLA', 'AVRON', 'LEDRU-ROLLIN', 
        'LES GOBELINS', 'LIEGE', 'BALARD', 'LOUIS BLANC', 'LOURMEL', 'LOUVRE-RIVOLI', 'MABILLON', 'MADELEINE', 
        'BARBES-ROCHECHOUART', 'MAISON BLANCHE', 'MARAICHERS', 'STALINGRAD', 'BOISSIERE', 'TELEGRAPHE', 
        'TROCADERO', 'BOLIVAR', 'CHARONNE', 'CHATEAU-LANDON', 'WAGRAM', 'BOTZARIS', 'HOTEL DE VILLE', 
        'LES HALLES', 'NATIONALE', 'BELLEVILLE', 'NOTRE-DAME-DE-LORETTE', 'NOTRE-DAME-DES-CHAMPS', 'OBERKAMPF', 
        'ODEON', 'OPERA', 'PALAIS ROYAL-MUSEE DU LOUVRE', 'PASSY', 'PASTEUR', 'PELLEPORT', 'PERE LACHAISE', 
        'PHILIPPE AUGUSTE', 'PLACE DE CLICHY', 'PLACE MONGE (JARDIN DES PLANTES)', 'POISSONNIERE', 
        'PONT-NEUF (LA MONNAIE)', 'PORTE DE CHARENTON', 'PORTE DE CLICHY', 'HAUSSMANN-SAINT-LAZARE', 
        'PORTE DE PANTIN', 'PORTE DES LILAS', 'PORTE DE VANVES', 'PORTE DE VERSAILLES', 'PORTE DE VINCENNES', 
        "PORTE D'ITALIE", "PORTE D'IVRY", 'PORTE DOREE', "PORTE D'ORLEANS", 'PRE SAINT-GERVAIS', 'PYRAMIDES', 
        'PYRENEES', 'QUAI DE LA GARE', 'QUAI DE LA RAPEE', 'RAMBUTEAU', 'RANELAGH', 'RASPAIL', 
        'REAUMUR-SEBASTOPOL', 'RENNES', 'REPUBLIQUE', 'REUILLY-DIDEROT', 'RICHELIEU-DROUOT', 'ROME', 
        'SAINT-AMBROISE', 'SAINT-FRANCOIS-XAVIER', 'SAINT-GEORGES', 'SAINT-GERMAIN-DES-PRES', 'SAINT-JACQUES', 
        'RUE DE LA POMPE (AVENUE GEORGES MANDEL)', 'VARENNE', 'CHAMP DE MARS-TOUR EIFFEL', "MUSEE D'ORSAY", 
        'JAURES', 'BOULAINVILLIERS', 'MARX DORMOY', 'MAUBERT-MUTUALITE', 'MICHEL-ANGE-MOLITOR', 'MICHEL BIZOT', 
        'MIROMESNIL', 'MONCEAU', 'MONTGALLET', 'MOUTON-DUVERNET', 'BEL-AIR', 'QUATRE SEPTEMBRE', 
        'AVENUE DU PRESIDENT KENNEDY', 'DUGOMMIER', 'EDGAR QUINET', 'GAITE', 'MICHEL-ANGE-AUTEUIL', 
        'PORTE DAUPHINE', "EGLISE D'AUTEUIL", 'BASTILLE', 'MIRABEAU', 'GLACIERE', 'MENILMONTANT', 'CAMBRONNE', 
        'DUPLEIX', 'BIR-HAKEIM (GRENELLE)', 'SEVRES-LECOURBE', "PONT DE L'ALMA", 'MAGENTA', 'MONTPARNASSE',
        'GRANDS BOULEVARDS (RUE MONTMARTRE)', 'SAINT-LAZARE', 'PONT-CARDINET', 'LE PELETIER', "CHAUSSEE D'ANTIN (LA FAYETTE)", 'AVENUE HENRI MARTIN', 'MARCADET-POISSONNIERS', 
        'OURCQ', 'MALESHERBES'
    ]},

    # --- SEINE-ET-MARNE (77) ---
    **{s: '77' for s in [
        'TOURNAN', 'CHAMPBENOIST-POIGNY', 'CHANGIS-SAINT-JEAN', 'ESBLY', 'FAREMOUTIERS-POMMEUSE', 
        'ISLES-ARMENTIERES-CONGIS', 'LA FERTE-SOUS-JOUARRE', 'LAGNY-THORIGNY', 'LIZY-SUR-OURCQ', 
        'MARLES-EN-BRIE', 'MEAUX', 'MORTCERF', 'TRILPORT', 'CHAMPAGNE-SUR-SEINE', 'CHARTRETTES', 
        'FONTAINEBLEAU-AVON', 'HERICY', 'LA GRANDE PAROISSE', 'BAGNEUX-SUR-LOING', 'MONTIGNY-SUR-LOING', 
        'SOUPPES', 'THOMERY', 'MORET-VENEUX-LES-SABLONS', 'VULAINES-SUR-SEINE-SAMOREAU', 'MORMANT', 
        'NANGIS', 'NANTEUIL-SAACY', 'VAIRES-TORCY', "VERNEUIL-L'ETANG", 'FONTAINE-LE-PORT', 'MONTEREAU', 
        'NEMOURS-SAINT-PIERRE', 'SAINT-MAMMES', 'MITRY-CLAYE', 'VERT-GALANT', 'VILLEPARISIS-MITRY-LE-NEUF', 
        'DAMMARTIN-JUILLY-SAINT-MARD', 'COUILLY-SAINT-GERMAIN-QUINCY', 'COULOMMIERS', 
        'CRECY-EN-BRIE-LA-CHAPELLE', 'GUERARD-LA-CELLE-SUR-MORIN', 'MONTRY-CONDE', 'BOURRON-MARLOTTE-GREZ', 
        'LIVRY-SUR-SEINE', 'VERNOU-SUR-SEINE', 'COMPANS', 'THIEUX-NANTOUILLET', 'LONGUEVILLE', 'PROVINS', 
        'SAINTE-COLOMBE-SEPTVEILLES', 'MOUROUX', 'BOIS-LE-ROI', 'BOISSISE-LE-ROI', 'BRUNOY', 'CESSON', 'CHELLES-GOURNAY', 
        'COMBS-LA-VILLE-QUINCY', 'CROUY-SUR-OURCQ', 'EMERAINVILLE-PONTAULT-COMBAULT', 
        'GRETZ-ARMAINVILLIERS', 'LE MEE', 'LIEUSAINT-MOISSY', 'MELUN', 'OZOIR-LA-FERRIERE', 
        'ROISSY-EN-BRIE', 'SAVIGNY-LE-TEMPLE-NANDY', 'VILLIERS-MONTBARBIN', 'PONTHIERRY-PRINGY'
    ]},

    # --- YVELINES (78) ---
    **{s: '78' for s in [
        'CHAVILLE-VELIZY', 'PETIT-JOUY-LES-LOGES', 'GARANCIERES-LA QUEUE', 'LA VERRIERE', 'LES-ESSARTS-LE-ROI', 
        'MAULE', "MONTFORT-L'AMAURY-MERE", 'NEZEL-AULNAY', 'ORGERUS-BEHOUST', 'PLAISIR-GRIGNON', 
        'PLAISIR-LES-CLAYES', 'BEYNES', 'RAMBOUILLET', 'SAINT-CYR', 'TACOIGNIERES-RICHEBOURG', 'TRAPPES', 
        'VILLIERS-NEAUPHLE PONTCHARTRAIN', 'VIROFLAY RIVE GAUCHE', 'SAINT-QUENTIN-EN-YVELINES', 
        'CHAVILLE RIVE GAUCHE', 'COIGNIERES', 'FONTENAY-LE-FLEURY', 'GAZERAN', 'LE PERRAY', 
        'HOUILLES-CARRIERES-SUR-SEINE', 'ACHERES-GRAND-CORMIER', 'MAISONS-LAFFITTE', 'VILLEPREUX-LES-CLAYES', 
        'CHAVILLE RIVE DROITE', 'VERSAILLES RIVE DROITE', 'VILLENNES-SUR-SEINE', 'VIROFLAY RIVE DROITE', 
        'POISSY', 'JOUY-EN-JOSAS', 'VAUBOYEN', 'VERSAILLES-CHANTIERS', 'PORCHEFONTAINE', 'VERSAILLES CHATEAU', 
        'MAREIL-SUR-MAULDRE', 'CONFLANS-SAINTE-HONORINE', 'EPONE-MEZIERES', 'ISSOU-PORCHEVILLE', 
        'MEULAN-HARDRICOURT', 'ROSNY-SUR-SEINE', 'SAINT-NOM-LA-BRETECHE-FORET-DE-MARLY', 'BONNIERES', 
        'BOUGIVAL', 'SARTROUVILLE', "L'ETANG-LA-VILLE", 'ACHERES-VILLE', 'CHANTELOUP-LES-VIGNES', 
        'TRIEL-SUR-SEINE', 'LES CLAIRIERES-DE-VERNEUIL', 'MAREIL-MARLY', 'SAINT-GERMAIN-GRANDE-CEINTURE', 
        'SAINT-GERMAIN-BEL-AIR-FOURQUEUX', 'NOISY-LE-ROI', 'ANDRESY', 'BREVAL', "CONFLANS-FIN-D'OISE", 'HOUDAN', 'MARLY-LE-ROI'
    ]},

    # --- ESSONNE (91) ---
    **{s: '91' for s in [
        'BOURAY', 'BRETIGNY', 'CHAMARANDE', 'DOURDAN', 'EGLY', 'ARPAJON', 'ETAMPES', 'ETRECHY', 
        'GRAVIGNY-BALIZY', 'JUVISY', 'LARDY', 'LONGJUMEAU', 'MASSY-PALAISEAU', 'SAVIGNY-SUR-ORGE', 
        'SAINT-CHERON', 'SAINTE-GENEVIEVE-DES-BOIS', "SAINT-MARTIN-D'ETAMPES", 'BOUTIGNY-SUR-ESSONNE', 
        'BUNO-GIRONVILLE', 'COUDRAY-MONTCEAUX', 'ESSONNES-ROBINSON', 'EVRY-COURCOURONNES', 'LA FERTE-ALAIS', 
        'LE PLESSIS-CHENET', "ORANGIS-BOIS DE L'EPINE", 'ANGERVILLE', 'VIGNEUX-SUR-SEINE', 'VILLABE', 
        'VIRY-CHATILLON', 'YERRES', 'IGNY', 'LA NORVILLE-SAINT-GERMAIN-LES-ARPAJON', 'PETIT-VAUX', 
        'BIEVRES', 'SAINT-MICHEL-SUR-ORGE', 'EVRY', 'BALLANCOURT', 'MAISSE', 'MENNECY', 'RIS-ORANGIS', 
        'VOSVES', 'CHILLY-MAZARIN', 'EPINAY-SUR-ORGE', 'MASSY-VERRIERES', 'SERMAISE', 'CORBEIL-ESSONNES', 
        'GUILLERVAL', 'GRAND-BOURG', 'DOURDAN-LA-FORET', 'ARBORETUM', 'BOIGNEVILLE', 'ABLON', 'ATHIS-MONS', 'BREUILLET-BRUYERES-LE-CHATEL', 'BREUILLET-VILLAGE', 
        "CHEMIN d'ANTONY", 'GRIGNY-CENTRE', 'LE BRAS-DE-FER', 'LES NOUES', 'LES SAULES', 
        'MAROLLES-EN-HUREPOIX', 'MONNERVILLE', 'MONTGERON-CROSNE', 'MOULIN-GALANT'
    ]},

    # --- HAUTS-DE-SEINE (92) ---
    **{s: '92' for s in [
        'PONT DE NEUILLY (AVENUE DE MADRID)', 'PONT DE SEVRES', 'BILLANCOURT', 'ISSY-VAL DE SEINE', 
        'MEUDON-VAL-FLEURY', 'CLAMART', 'MEUDON', 'BELLEVUE', 'VANVES-MALAKOFF', 'CLICHY-LEVALLOIS', 
        'COLOMBES', 'COURBEVOIE', 'ASNIERES', 'GARCHES-MARNES-LA-COQUETTE', 'LA CELLE-SAINT-CLOUD', 
        'LA DEFENSE-GRANDE ARCHE', 'LA GARENNE-COLOMBES', "LE VAL-D'OR", 'LOUVECIENNES', 
        'NANTERRE-UNIVERSITE', 'BECON-LES-BRUYERES', 'PUTEAUX', 'SAINT-CLOUD', 'BOIS-COLOMBES', 
        'SURESNES-MONT VALERIEN', 'VAUCRESSON', 'SEVRES RIVE GAUCHE', 'BOULOGNE-PONT DE SAINT CLOUD', 
        'LES AGNETTES-ASNIERES-GENNEVILLIERS', 'LES COURTILLES', 'M. MONTROUGE', 'ANATOLE FRANCE', 
        'CHATILLON-MONTROUGE', 'CORENTIN-CELTON', 'ESPLANADE DE LA DEFENSE', 
        'GABRIEL PERI-ASNIERES-GENNEVILLIERS', 'LES VALLEES', "SEVRES-VILLE-D'AVRAY", 'MAIRIE DE CLICHY', 
        "MAIRIE D'ISSY", 'MALAKOFF-PLATEAU DE VANVES', 'MALAKOFF-RUE ETIENNE DOLET', 'MARCEL SEMBAT', 
        'BOULOGNE-JEAN JAURES', 'ISSY', 'LE STADE', 'MAIRIE-DE-CLICHY', 'SEVRES RIVE DROITE', 'PONT DE LEVALLOIS-BECON',
        'LOUISE MICHEL', "LES SABLONS (JARDIN D'ACCLIMATATION)"
    ]},

    # --- SEINE-SAINT-DENIS (93) ---
    **{s: '93' for s in [
        'BASILIQUE DE SAINT-DENIS', 'SAINT-DENIS-UNIVERSITE', 'BOBIGNY-PABLO PICASSO', 
        'BOBIGNY-PANTIN (RAYMOND QUENEAU)', 'VILLETANEUSE U', 'PIERREFITTE T11', 'DUGNY COURNEUVE', 
        'LES COQUETIERS', 'LYCEE HENRI SELLIER', 'PIERREFITTE-STAINS', 'STADE DE FRANCE-SAINT-DENIS', 
        'CHENAY-GAGNY', 'GAGNY', 'LE RAINCY-VILLEMOMBLE-MONTFERMEIL', 'PANTIN', 'ROSNY-BOIS-PERRIER', 
        'BONDY', 'SAINT-DENIS', 'DRANCY', 'LE BOURGET', 'PARC DES EXPOSITIONS', 'AEROPORT CHARLES DE GAULLE 1', 
        'AEROPORT CHARLES DE GAULLE 2-TGV', 'SEVRAN-BEAUDOTTES', 'VILLEPINTE', 'FR. POPULAIRE', 
        'CARREFOUR PLEYEL', "FORT D'AUBERVILLIERS", 'GALLIENI (PARC DE BAGNOLET)', 
        'AUBERVILLIERS-PANTIN (QUATRE CHEMINS)', 'LA PLAINE-STADE DE FRANCE', 'SEVRAN-LIVRY', 
        'EPINAY SUR ST11', 'EPINAY VIL T11', 'STAINS CERISAIE', 'BOURGET T11', 'LA COURNEUVE 8 MAI 1945', 
        'NOISY-LE-SEC', 'ROSNY-SOUS-BOIS', 'SAINT-DENIS-PORTE DE PARIS', 'AULNAY-SOUS-BOIS', 
        'EGLISE DE PANTIN', 'HOCHE', 'FREINVILLE-SEVRAN', 'BLANC-MESNIL', 'ALLEE DE LA TOUR RENDEZ-VOUS', 
        'LES PAVILLONS-SOUS-BOIS', 'GARGAN', 'ROUGEMONT-CHANTELOUP', 'LA REMISE A JORELLE', 
        'CLICHY-MONTFERMEIL', 'ROMAIN-ROLAND', 'REPUBLIQUE-MARX DORMOY', 'MAURICE AUDIN', 'MAIRIE DE MONTREUIL', 
        'MAIRIE DE SAINT-OUEN', 'BERAULT', 'CROIX DE CHAVAUX (JACQUES DUCLOS)', 'GARIBALDI', 'LA COURNEUVE-AUBERVILLIERS', 
        'LES YVRIS-NOISY-LE-GRAND', 'MAIRIE DES LILAS', 'MONTREUIL', 'PORTE DE SAINT-OUEN', 
        'ROBESPIERRE', 'NOTRE-DAME-DES-ANGES', 'LEON BLUM'
    ]},

    # --- VAL-DE-MARNE (94) ---
    **{s: '94' for s in [
        'SAINT-MANDE-TOURELLE', 'VILLEJUIF-LEO LAGRANGE', 'VILLEJUIF-LOUIS ARAGON', 'CHOISY-LE-ROI', 
        'ORLY VILLE', 'VILLENEUVE-LE-ROI', 'VITRY-SUR-SEINE', 'CRETEIL POMP', 'LE VERT-DE-MAISONS', 
        'VILLENEUVE-SAINT-GEORGES', 'VILLENEUVE-TRIAGE', 'LES BOULLEREAUX-CHAMPIGNY', 
        'VILLIERS-SUR-MARNE-PLESSIS-TREVISE', 'CRETEIL-P. LAC', 'ECOLE VETERINAIRE DE MAISONS-ALFORT', 
        'CHARENTON-ECOLES', 'CHATEAU DE VINCENNES', 'CRETEIL-L\'ECHAT (HOPITAL MONDOR)', 
        'CRETEIL-PREFECTURE (HOTEL DE VILLE)', 'CRETEIL-UNIVERSITE', "MAIRIE D'IVRY", 
        'MAISONS-ALFORT-LES JUILLIOTTES', 'MAISONS-ALFORT-STADE', 'VILLEJUIF-PAUL VAILLANT-COUTURIER', 
        'IVRY-SUR-SEINE', 'LES ARDOINES', 'PONT DE RUNGIS', 'FRATERNELLE', 'MAISONS-ALFORT-ALFORTVILLE', 
        'NOGENT-LE-PERREUX', 'LIBERTE', 'BOUSSY-SAINT-ANTOINE', "L'ABBAYE", 'LE KREMLIN-BICETRE', 'PIERRE CURIE', 'SAINT-MAUR'
    ]},

    # --- VAL-D'OISE (95) ---
    **{s: '95' for s in [
        'EPINAY-SUR-SEINE', 'LES GRESILLONS', 'SAINT-GRATIEN', 'SAINT-OUEN', 'GARGES-SARCELLES', 
        'GOUSSAINVILLE', 'LOUVRES', 'VILLIERS-LE-BEL-GONESSE-ARNOUVILLE', 'BRUYERES-SUR-OISE', 'CERNAY', 
        "CHAMP DE COURSES D'ENGHIEN", 'CHAPONVAL', 'DEUIL-MONTMAGNY', 'DOMONT', 'ECOUEN-EZANVILLE', 
        'ENGHIEN-LES-BAINS', 'EPINAY-VILLETANEUSE', 'EPLUCHES', 'ERMONT-HALTE', 'ERMONT-EAUBONNE', 
        'FRANCONVILLE-LE-PLESSIS-BOUCHARD', 'FREPILLON', 'GROS-NOYER-SAINT-PRIX', 'AUVERS-SUR-OISE', 
        'LA BARRE-ORMESSON', 'LUZARCHES', 'MONTIGNY-BEAUCHAMP', 'MONTSOULT-MAFFLIERS', 'NOINTEL-MOURS', 
        'BELLOY-SAINT-MARTIN', 'PERSAN-BEAUMONT', 'PIERRELAYE', 'PONTOISE', 'PONT-PETIT', 'BESSANCOURT', 
        'PRESLES-COURCELLES', 'SARCELLES-SAINT-BRICE', 'SEUGY', 'SAINT-LEU-LA-FORET', "SAINT-OUEN-L'AUMONE", 
        'TAVERNY', 'VALMONDOIS', 'VAUCELLES', 'VIARMES', 'BOUFFEMONT-MOISSELLES', "SAINT-OUEN-L'AUMONE-LIESSE", 
        'CORMEILLES-EN-PARISIS', 'GARGENVILLE', 'AUBERGENVILLE-ELISABETHVILLE', 'HERBLAY', 'JUZIERS', 
        'LA FRETTE-MONTIGNY', 'LES MUREAUX', 'LIMAY', 'MANTES-LA-JOLIE', 'MANTES-STATION', 'MAURECOURT', 
        'SANNOIS', "SAINT-OUEN-L'AUMONE-QUARTIER DE L'EGLISE", 'THUN-LE-PARADIS', 'US', 'VAUX-SUR-SEINE', 
        'VERNOUILLET-VERNEUIL', 'CERGY LE HAUT', 'CERGY-PREFECTURE', 'CERGY-SAINT-CHRISTOPHE', 
        'NEUVILLE UNIVERSITE', 'CHAMPAGNE-SUR-OISE', 'GROSLAY', 'MERIEL', "MERY-VAL D'OISE", 'VILLAINES', 
        'ARGENTEUIL', 'ERAGNY-NEUVILLE', 'OSNY', "VAL-D'ARGENTEUIL", 'GARE DE GENNEVILLIERS', 
        'PORTE-DE-CLICHY', 'SURVILLIERS-FOSSES', "L'ISLE-ADAM-PARMAIN", 'CHARS', 'MONTGEROULT-COURCELLES', 
        "BOISSY-L'AILLERIE", 'SANTEUIL-LE-PERCHAY'
    ]}
}

In [26]:
df_fusionne['DEPARTEMENT'] = df_fusionne['STATION_NAME'].map(station_to_dept)
df_fusionne[["DATE","DEPARTEMENT", "STATION_NAME", "NB_VALID"]]

             DATE DEPARTEMENT                  STATION_NAME  NB_VALID
0      2019-07-01          75                      ABBESSES      3399
1      2019-07-01          91                         ABLON       977
2      2019-07-01          78         ACHERES-GRAND-CORMIER        86
3      2019-07-01          78                 ACHERES-VILLE      5079
4      2019-07-01          93  AEROPORT CHARLES DE GAULLE 1      7019
...           ...         ...                           ...       ...
116460 2019-12-31          94               VITRY-SUR-SEINE      1717
116461 2019-12-31          75                   VOLONTAIRES       228
116462 2019-12-31          75          VOLTAIRE (LEON BLUM)      2052
116463 2019-12-31          75                        WAGRAM       511
116464 2019-12-31          91                        YERRES        82

[116465 rows x 4 columns]

In [30]:
df_fusionne = df_fusionne.drop(columns=['STATION_NAME'])

In [31]:
df_fusionne.to_csv('Travel_titles_with_departments.csv', index=False)

In [32]:
df_fusionne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116465 entries, 0 to 116464
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         116465 non-null  datetime64[ns]
 1   NB_VALID     116465 non-null  int64
 2   DEPARTEMENT  116109 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.7+ MB