# Analyse de transport

In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('Travel_titles_validations_in_Paris_and_suburbs.csv.xz', compression='xz')

In [22]:
df.head()

         DATE       STATION_NAME  ID_REFA_LDA TITLE_CATEGORY     NB_VALID
0  21/07/2019   LA TOUR MAUBOURG      71242.0         NAVIGO         1141
1  21/07/2019         PARMENTIER      71801.0    NOT DEFINED  Less than 5
2  21/07/2019         PARMENTIER      71801.0            TST           97
3  21/07/2019  PEREIRE-LEVALLOIS      71453.0            FGT           53
4  21/07/2019            PERNETY     412687.0          OTHER           36

In [ ]:
df['DATE'] = pd.to_datetime(df['DATE'], format='%d/%m/%Y')
df[["DATE", "NB_VALID"]]

              DATE     NB_VALID
0       21/07/2019         1141
1       21/07/2019  Less than 5
2       21/07/2019           97
3       21/07/2019           53
4       21/07/2019           36
...            ...          ...
883953  04/09/2019          282
883954  04/09/2019         2805
883955  04/09/2019        14377
883956  04/09/2019         4613
883957  04/09/2019         1019

[883958 rows x 2 columns]