# Analyse de transport

In [1]:
import pandas as pd

In [2]:
pd.read_csv('Travel_titles_validations_in_Paris_and_suburbs.csv')

              DATE       STATION_NAME  ID_REFA_LDA TITLE_CATEGORY     NB_VALID
0       21/07/2019   LA TOUR MAUBOURG      71242.0         NAVIGO         1141
1       21/07/2019         PARMENTIER      71801.0    NOT DEFINED  Less than 5
2       21/07/2019         PARMENTIER      71801.0            TST           97
3       21/07/2019  PEREIRE-LEVALLOIS      71453.0            FGT           53
4       21/07/2019            PERNETY     412687.0          OTHER           36
...            ...                ...          ...            ...          ...
883953  04/09/2019       MONTPARNASSE      74040.0    NOT DEFINED          282
883954  04/09/2019    MOUTON-DUVERNET      73653.0         NAVIGO         2805
883955  04/09/2019             NATION      71673.0         NAVIGO        14377
883956  04/09/2019          NATIONALE      71043.0         NAVIGO         4613
883957  04/09/2019            BEL-AIR      73650.0      IMAGINE R         1019

[883958 rows x 5 columns]